@import "slick.scss";
@import "slick-theme.scss";

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;

  header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;

    .ba-container {
      width: 1210px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .logo {
        padding: 53px 0;

        img {
          width: 241px;
          height: 54px;
        }
      }

      .menu {
        font-family: 'GothamBook', sans-serif;

        ul {
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 22px;


          li {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding-right: 70px;

            &:active {

              .menu-dot {
                background: #ffffff;
              }
            }

            &:hover {

              .menu-dot {
                background: #ffffff;
              }
            }

            .menu-dot {
              display: block;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              border: 1px solid #ffffff;
              width: 10px;
              height: 10px;
              margin-right: 15px;

            }

            a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }

      .social-icons {

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;

        a {
          display: block;
          text-decoration: none;
          color: #ffffff;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          text-align: center;
          line-height: 38px;
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            border: 2px solid #ffffff;
          }
        }
      }

    }
  }

  main {
    width: 100vw;
    margin: 0 auto;
    height: auto;

    .hero {
      width: 100vw;
      overflow: hidden;

      .slick-slider {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 0 !important;
        overflow: hidden !important;

        .slide1 {
          background: url("../img/Bg.jpg") center center no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
        
        .slide2 {
          background: #00b3ff;
        }
        
        .slide3 {
          background: #1883ba;
        }

        .slide4 {
          background: #3c81d5;
        }

        .slide5 {
          background: #55b7ff;
        }

        .slick-slide {
          position: relative;
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          text-align: center;

          .hero-text {

            h1 {
              margin: 0 0 40px;
              font-family: 'gothambold1', sans-serif;
              font-size: 80px;
              letter-spacing: 0.05em;
              color: #ffffff;
              text-transform: uppercase;
            }

            h2 {
              font-family: 'gothambold1', sans-serif;
              font-size: 18px;
              letter-spacing: 0.3em;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: 300;
            }

          }

          .scroll {
            border: 1px solid #ffffff;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            display: block;
            position: absolute;
            bottom: 50px;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
          }
        }

        .slick-dots {
          position: absolute;
          right: 40px;
          top: calc(50% - 107px);
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: flex-end;
          width: auto;
          height: 215px;

          li {

            button {
              width: 10px;
              height: 10px;
              border-radius: 100%;
              border: 1px solid #ffffff;
            }
          }

          li.slick-active {

            button {
              background: #ffffff;
            }
          }
        }
      }

    }

    .projects {
      padding: 140px 0;
      background: #ffffff;
      width: 100vw;
      height: auto;
      overflow: hidden;

      .ba-container {
        width: 1170px;
        padding: 0;

        .projects-header {
          font-family: 'gothambold1', sans-serif;
          text-transform: uppercase;
          font-size: 44px;
          color: #2c4058;
          text-align: center;
          margin-bottom: 170px;
        }

        .project-tradeCenter {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          height: auto;
          margin-bottom: 210px;

          .tradeCenter-imageBlock {
            position: relative;
            margin-right: 70px;
            height: 470px;

            .tradeCenter-img {
              position: absolute;
              background: url("../img/trade-center.jpg") center center no-repeat;
              -webkit-background-size: cover;
              background-size: cover;
              width: 630px;
              height: 470px;
              z-index: 2;
            }

            .img-bg {
              position: absolute;
              width: 585px;
              height: 470px;
              background: #55b7ff;
              top: -70px;
              left: -260px;
            }
          }

          .tradeCenter-description {
            width: 42%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .subtitle {
              font-family: 'GothamBook', sans-serif;
              font-size: 22px;
              color: #2c4058;
              text-transform: uppercase;
              margin: 0 0 15px 0;
            }

            .title {
              font-family: 'gothambold1', sans-serif;
              font-size: 44px;
              color: #2c4058;
              text-transform: uppercase;
              margin: 0 0 35px 0;
            }

            .description {
              margin: 0 0 35px 0;
              font-size: 18px;
              line-height: 30px;
              color: #4b5562;
            }

            .project-button {
              display: block;
              height: 50px;
              width: 190px;
              border: 1px solid #2c4058;
              color: #2c4058;
              text-decoration: none;
              text-transform: uppercase;
              font-family: 'GothamBook', sans-serif;
              font-size: 14px;
              text-align: center;
              line-height: 48px;
              font-weight: 400;
              margin-bottom: 55px;

              &:hover {
                background: #deecf5;
              }

            }

            .location {
              font-size: 18px;
              font-style: italic;
              text-decoration: none;
              color: #2c4058;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .project-commerceCenter {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          height: 470px;

          .commerceCenter-description {
            width: 46%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin-right: 70px;

            .subtitle {
              font-family: 'GothamBook', sans-serif;
              font-size: 22px;
              color: #2c4058;
              text-transform: uppercase;
              margin: 0 0 15px 0;
            }

            .title {
              font-family: 'gothambold1', sans-serif;
              font-size: 44px;
              color: #2c4058;
              text-transform: uppercase;
              margin: 0 0 35px 0;
            }

            .description {
              margin: 0 0 35px 0;
              font-size: 18px;
              line-height: 30px;
              color: #4b5562;
            }

            .project-button {
              display: block;
              height: 50px;
              width: 190px;
              border: 1px solid #2c4058;
              color: #2c4058;
              text-decoration: none;
              text-transform: uppercase;
              font-family: 'GothamBook', sans-serif;
              font-size: 14px;
              text-align: center;
              line-height: 48px;
              font-weight: 400;
              margin-bottom: 55px;

              &:hover {
                background: #deecf5;
              }

            }

            .location {
              font-size: 18px;
              font-style: italic;
              text-decoration: none;
              color: #2c4058;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .commerceCenter-imageBlock {
            position: relative;
            height: 100%;
            width: 54%;

            .commerceCenter-img {
              position: absolute;
              background: url("../img/commerce-center.jpg") center center no-repeat;
              -webkit-background-size: cover;
              background-size: cover;
              width: 630px;
              height: 470px;
              z-index: 2;
            }

            .img-bg {
              position: absolute;
              height: 470px;
              width: 585px;
              background: #7e5aff;
              top: -70px;
              right: 0;
              left: 260px;

              overflow: hidden;
            }
          }
        }
      }
    }

    .news {
      padding: 180px 0 140px;
      width: 100vw;
      height: auto;
      overflow: hidden;
      background: rgba(60, 129, 213, 1);
      background: -moz-linear-gradient(45deg, rgba(60, 129, 213, 1) 0%, rgba(36, 204, 250, 1) 64%, rgba(36, 204, 250, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(60, 129, 213, 1) 0%, rgba(36, 204, 250, 1) 64%, rgba(36, 204, 250, 1) 100%);
      background: -o-linear-gradient(45deg, rgba(60, 129, 213, 1) 0%, rgba(36, 204, 250, 1) 64%, rgba(36, 204, 250, 1) 100%);
      background: -ms-linear-gradient(45deg, rgba(60, 129, 213, 1) 0%, rgba(36, 204, 250, 1) 64%, rgba(36, 204, 250, 1) 100%);
      background: url("../img/news.png") bottom center no-repeat, linear-gradient(45deg, rgba(60, 129, 213, 1) 0%, rgba(36, 204, 250, 1) 64%, rgba(36, 204, 250, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c81d5', endColorstr='#24ccfa', GradientType=1);

      .ba-container {
        width: 1170px;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .newsTitle {
          position: relative;
          font-family: 'gotham_mediumregular', sans-serif;
          font-size: 44px;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: 300;

          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 100px;
            height: 1px;
            background: #ffffff;
            top: -40px;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        .sliderNews {
          height: 515px;
          width: 100%;
          position: relative;

          .slick-arrow {
            margin: 0 -40px;
          }

          .slick-dots {

            margin-bottom: -60px;

            li {
              margin: 0 20px;

              button {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                border: 1px solid #ffffff;

              }
            }

            li.slick-active {
              button {
                background: #ffffff;
              }
            }
          }

          .slick-slide {
            width: 370px;
            background: #ffffff;
            margin: 0 15px;
            height: 515px;
            position: relative;

            .slider-img {
              width: 370px;
              height: 240px;
            }

            .descriptionBlock {
              padding: 30px 20px 30px 20px;

              a {
                text-decoration: none;

                .articleTitle {
                  font-family: 'gothambold1', sans-serif;
                  font-size: 22px;
                  line-height: 34px;
                  color: #2c4058;
                  margin: 0;
                  text-transform: uppercase;

                  &:hover {
                    color: #55b7ff;
                  }

                }
              }

              .articleAbout {
                font-size: 18px;
                line-height: 30px;
                color: #4b5562;
                margin: 0;
              }

              .articleAuthor {
                position: absolute;
                bottom: 30px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
                height: 60px;
                width: 100%;

                .avatar {
                  width: 60px;
                  height: 60px;
                  margin-right: 20px;
                }

                .name-time {
                  font-family: 'GothamBook', sans-serif;

                  .name {
                    text-transform: uppercase;
                    color: #2c4058;
                    margin: 0;
                    font-size: 18px;
                    line-height: 22px;
                  }

                  .time {
                    margin: 0;
                    font-size: 14px;
                    line-height: 22px;
                    color: #55b7ff;
                  }
                }
              }
            }
          }
        }
      }
    }

    .gallery {
      background: #ffffff;
      margin: 180px 0 140px 0;

      .ba-container {
        padding: 0;
        width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .gallery-title {
          position: relative;
          font-family: 'gotham_mediumregular', sans-serif;
          font-size: 44px;
          text-transform: uppercase;
          color: #2c4058;
          font-weight: 300;

          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 100px;
            height: 1px;
            background: #2c4058;
            top: -40px;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        .flex-container {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 60px;

          .flex-container-1x {
            position: relative;
            width: 580px;
            height: 438px;
            margin-right: 10px;

            .main-building {
              width: 580px;
              height: 438px;
            }
          }

          .flex-container-4x {
            width: 50%;
            height: 438px;

            .flex-container-2x {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;

              .small-building1 {
                width: 280px;
                height: 214px;
              }

              .small-building2 {
                width: 280px;
                height: 214px;
              }
            }

            .flex-container-2x {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;

              .small-building3 {
                width: 280px;
                height: 214px;
              }

              .small-building4 {
                width: 280px;
                height: 214px;
              }
            }
          }
        }

        .seeMore-button {
          display: block;
          width: 190px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          border: 1px solid #2c4058;
          color: #2c4058;
          text-decoration: none;
          font-family: 'GothamBook', sans-serif;
          font-size: 14px;

          &:hover {
            background: #deecf5;
          }
        }
      }
    }

    .contacts {
      position: relative;

      .contacts-block {
        position: absolute;
        top: 400px;
        left: 0;
        right: 0;
        margin: auto;
        width: 770px;
        height: 450px;
        background: url("../img/contacts-city.png") center bottom no-repeat, #ffffff;
        text-align: center;
        padding: 75px 60px 80px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(194,192,194,1);
        -moz-box-shadow: 0px 0px 14px 0px rgba(194,192,194,1);
        box-shadow: 0px 0px 14px 0px rgba(194,192,194,1);

        .contacts-title {
          position: relative;
          font-family: 'gotham_mediumregular', sans-serif;
          font-size: 44px;
          text-transform: uppercase;
          color: #2c4058;
          font-weight: 300;
          margin: 0 0 60px 0;

          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 100px;
            height: 1px;
            background: #2c4058;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        .flex-container {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;

          .contacts-info {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            font-family: 'GothamBook', sans-serif;
            font-size: 17px;

            * {
              margin-bottom: 36px;

              &:last-child {
                margin-bottom: 0;
              }
            }

            .contacts-location {
              text-decoration: none;
              color: #2c4058;

              &:hover {
                text-decoration: underline;
              }

              .fas {
                font-size: 18px;
                color: #7e5aff;
              }
            }

            .contacts-phone {
              text-decoration: none;
              color: #2c4058;

              &:hover {
                text-decoration: underline;
              }

              .fas {
                font-size: 18px;
                color: #7e5aff;
              }
            }

            .contacts-email {
              text-decoration: none;
              color: #2c4058;

              &:hover {
                text-decoration: underline;
              }

              .fas {
                font-size: 18px;
                color: #7e5aff;
              }
            }

            .contacts-hours {
              color: #2c4058;
              //font-size: 18px;
              margin: 0;

              .far {
                font-size: 18px;
                color: #7e5aff;
              }
            }
          }

          .contacts-form {

            label {
              display: flex;
              flex-flow: column nowrap;
              justify-content: space-between;
              align-items: flex-start;


              .name {
                width: 310px;
                height: 55px;
                border: 0;
                border-bottom: 1px solid #d5d9de;
                margin-bottom: 20px;

                &::placeholder {
                  color: #a5aab0;
                  font-family: 'GothamBook', sans-serif;
                  font-size: 18px;
                }

                &:hover, &:active {
                  border-bottom: 1px solid #2c4058;
                  
                  &::placeholder {
                    color: #2c4058;
                  }
                }
              }

              .email {
                width: 310px;
                height: 55px;
                border: 0;
                border-bottom: 1px solid #d5d9de;
                margin-bottom: 30px;
                
                &::placeholder {
                  color: #a5aab0;
                  font-family: 'GothamBook', sans-serif;
                  font-size: 18px;
                }

                &:hover, &:active {
                  border-bottom: 1px solid #2c4058;

                  &::placeholder {
                    color: #2c4058;
                  }
                }
              }

              .submit {
                width: 140px;
                height: 50px;
                align-self: flex-end;
                background: none;
                color: #2c4058;
                border: 1px solid #2c4058;
                font-family: 'GothamBook', sans-serif;
                font-size: 14px;

                &:hover {
                  background: #deecf5;
                }
              }
            }
          }
        }
      }
    }
  }
  .ba-footer {
    background: rgba(85,184,255,1);
    background: -moz-linear-gradient(45deg, rgba(85,184,255,1) 0%, rgba(85,184,255,1) 38%, rgba(134,101,254,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(85,184,255,1)), color-stop(38%, rgba(85,184,255,1)), color-stop(100%, rgba(134,101,254,1)));
    background: -webkit-linear-gradient(45deg, rgba(85,184,255,1) 0%, rgba(85,184,255,1) 38%, rgba(134,101,254,1) 100%);
    background: -o-linear-gradient(45deg, rgba(85,184,255,1) 0%, rgba(85,184,255,1) 38%, rgba(134,101,254,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(85,184,255,1) 0%, rgba(85,184,255,1) 38%, rgba(134,101,254,1) 100%);
    background: url("../img/footer-city.png") center center no-repeat, linear-gradient(45deg, rgba(85,184,255,1) 0%, rgba(85,184,255,1) 38%, rgba(134,101,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55b8ff', endColorstr='#8665fe', GradientType=1 );
    width: 100%;
    padding-top: 200px;
    margin-top: -10px;

    .ba-container {
      width: 770px;

      .flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .logo {

          img {
            width: 241px;
            height: 54px;
          }
        }

        .social-icons {

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;

          a {
            display: block;
            text-decoration: none;
            color: #ffffff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            text-align: center;
            line-height: 38px;
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              border: 2px solid #ffffff;
            }
          }
        }
      }
      .text-block {
        font-family: 'GothamBook', sans-serif;
        font-size: 14px;
        color: #ffffff;
        padding-bottom: 210px;

        .copyright {

          &:after {
            content: "|";
            font-size: 14px;
            color: #ffffff;
            padding: 0 23px;
          }
        }
      }
    }
  }
}